.btn-logout{
    width: 100px;
    padding:auto;
    background:lightgreen;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    margin-right: 5px;
}

.user-switch{
    padding: 5px;
}