.btn-logout{
    width: 100px;
    padding:auto;
    background: #3a2b58;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    height: 40px;
    margin-right: 5px;
    
    
}
.user-switch{
    padding: 5px;
}