
.Switch-div{
    display: flex;
    float: right;
    background-color: white;
    width: 80%;
    flex-wrap: wrap;
    height: 100vh;

}
.Sidebar-div{
    position: absolute;
    background-color:seashell;
    height:100vh;
    width: 20%;
}

.graph-div  {
    
    height: 50%;
    width: 50%;
    display: flex;
    transform: rotate(180deg);
    justify-content: center;
   
    }


      
.bar {
        width: 5%;
        background-color:black;
        margin-right: 10px;
      }
.companydetail-div{
    height: 50%;
    width: 50%;
    
}

.div1{
    height: 50%;
    width: 50%;
   
}
.div2{
    height: 50%;
    width: 50%;
    
} 